// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "node_modules/font-awesome/scss/font-awesome.scss";


.form-delete {
    display: inline;
}

.download-link {
    border: 2px dashed #E3E3E3;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    width: auto;
    height: 80px;
    display: inline-block;
    padding: 28px 20px 0 80px;
    line-height: 1.2em;
    border-radius: 10px;
    color: #43494a;
    font-family: arial, sans-serif;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    box-sizing: border-box;
    margin: 5px;
  }

  .download-link:hover {
    border: 2px dashed #ADADAD;
    text-decoration: underline;

  }

  .download-orther {
    background-image: url('icon/download.png');
    background-size: 60px;
  }

 .checkbox-link {
    border: 2px dashed #E3E3E3;
    width: auto;
    height: 50px;
    display: inline-block;
    padding: 10px 10px 0 40px;
    line-height: 1.2em;
    border-radius: 10px;
    color: #43494a;
    margin: 5px;
 }
 .checkbox-danger {
    border: 2px dashed #e3342f;
 }
